<div class="link-wrapper-mobile">
  <a href="/research/" rel="external">[Research]</a>
  <span style="margin-left: 5px;"></span>
  <a href="/publications/">[Publications]</a>
  <span style="margin-left: 5px;"></span>
  <a href="/tutorials/">[Tutorials]</a>
  <span style="margin-left: 5px;"></span>
  <a href="/aboutme/" rel="external">[About Me]</a>
  <span style="margin-left: 5px;"></span>
  <br>
  <a href="mailto:he.yifan.xs@alumni.tsukuba.ac.jp" target="_blank">[Email]</a>
  <span style="margin-left: 5px;"></span>
  <a href="https://github.com/Y1fanHE" target="_blank">[GitHub]</a>
  <span style="margin-left: 5px;"></span>
  <a href="https://www.researchgate.net/profile/Yifan-He-6" target="_blank">[ResearchGate]</a>
  <span style="margin-left: 5px;"></span>
  <a href="https://www.linkedin.com/in/yifan-he-tsukuba" target="_blank">[LinkedIn]</a>
  <span style="margin-left: 5px;"></span>
</div>
