<div class="link-wrapper-mobile">
    <a href="/cn/research/">研究</a>
    <span style="margin-left: 3px;"></span>
    <a href="/cn/publications/">论文</a>
    <span style="margin-left: 3px;"></span>
    <a href="/cn/aboutme/">关于我</a>
    <br>
    <a href="mailto:he.yifan.xs@alumni.tsukuba.ac.jp" target="_blank">Email</a>
    <span style="margin-left: 3p x;"></span>
    <a href="https://github.com/Y1fanHE" target="_blank">GitHub</a>
    <span style="margin-left: 3px;"></span>
    <a href="https://www.researchgate.net/profile/Yifan-He-6" target="_blank">ResearchGate</a>
    <span style="margin-left: 3px;"></span>
    <a href="https://www.linkedin.com/in/yifan-he-tsukuba" target="_blank">LinkedIn</a>
</div>
