<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }
  
      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="/" rel="external"><i class="fa-solid fa-house"></i> Home</a></li>
      <li><a href="/research/" rel="external"><i class="fa-solid fa-magnifying-glass"></i> Research</a></li>
      <li><a href="/publications/" rel="external"><i class="fa-solid fa-paperclip"></i> Publications</a></li>
      <li><a href="/aboutme/" rel="external"><i class="fa-solid fa-user"></i> About Me</a></li>
    </ul>
  </div>