<div class="link-wrapper">
    <style scoped>
        ul.link a {
            color:var(--clr-h1-and-bold);
            text-decoration:none;
        }
        ul.link a:hover, a:focus {
            color: var(--clr-a-text-hvr);
        }
    </style>
    <ul class="link">
        <li>
            &#127968;
            <a id="hom" href="/">Home</a>
        </li>
        <li>
            &#127974;
            <a id="res" href="/research/">Research</a>
        </li>
        <li>
            &#128195;
            <a id="pub" href="/publications/">Publications</a>
        </li>
        <li>
            &#128211;
            <a id="tut" href="/tutorials/">Tutorials</a>
        </li>
        <li>
            &#128061;
            <a id="abo" href="/aboutme/">About Me</a>
        </li>
    </ul>
</div>