<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }
  
      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="/">&#127968; Home</a></li>
      <li><a href="/research/">&#127974; Research</a></li>
      <li><a href="/publications/">&#128195; Publications</a></li>
      <li><a href="/tutorials/">&#128216; Tutorials</a></li>
      <li><a href="/aboutme/">&#128061; About Me</a></li>
    </ul>
    <ul class="link">
      <li><a href="https://github.com/Y1fanHE" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="mailto:he.yifan.xs@alumni.tsukuba.ac.jp" target="_blank"><i class="fa fa-envelope"></i> E-mail</a></li>
      <li><a href="https://www.linkedin.com/in/yifan-he-tsukuba" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a></li>
    </ul>
</div>